html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;

}
img {
    width: 100%;
    display: inline-block;
}
.pure-menu,.content,.copyright {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    width:100%;
    background-color:#333;
    margin-top: 20px;
}
    h3 {
        font-size: 40px;
        text-align: center;
        color: #4D4D4D;

    }
.article p {
    text-align: right;
    margin-left:auto;
    margin-right:auto;
    font-size: 20px;
}
.article-list {
    list-style: circle;
    font-size: 20px;
}
.article {
    font-size: 20px;
}

.copyright {
    font-size: 14px;
    color: #999;
    text-align: center !important;
    font-style: italic;
}



/* NAV */
.pure-menu {
    font-size: 30px;
    text-align: center;


}

.pure-menu-link {
    color:white;


}
.pure-menu-link:hover,.pure-menu-link:active,.pure-menu-link:focus {
    background-color: #0F8538;
}
.pure-menu-link.help:hover,.pure-menu-link.help:active,.pure-menu-link.help:focus {
    background-color: #e18728;
}
/* EXTRA STYLES */
.rtl {
    text-align: right;
    direction: right;
}
.bold {
    font-style: bold;
    font-weight: 600;
}